<!-- Footer -->
<br>
<footer class="page-footer font-small">
  <div class="container text-center pt-2 d-flex justify-content-between">
    <a href="/about" class="d-inline">About</a>
    <a href="/contact" class="d-inline">Contact</a>
    <a href="/colorGame" class="d-inline">The RGB Game!</a>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center pb-2 pt-0">© 2018 Copyright:
    <a href="https://www.benjamin-marketing-resume.com/"> Benjamin Marquis </a> © 2018 Font-Copyright: <a href="https://pixelify.net/downloads/tahu-free-script-font/"> Rizal Khurasan</a>
  </div>
</footer>

<!-- jQuery -->
<script src="/assets/js/jquery-3.3.1.js"></script>
<!-- Cloudflare -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="/assets/js/bootstrap.js"></script>
<!-- JavaScript -->
<script src="/assets/js/firstJavaScript.js"></script>

</body>


</html>
