<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- title -->
  <title>Sophie Madonna</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="/assets/css/static/styles/fontawesome/css/all.css">
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/ImagesSophie/Sophie.png" />

  <!-- Meta -->
  <meta name="description" content="Sophie Madonna a young photographer in Montreal share some of her favorite pictures" />
  <meta property="og:title" content="Sophie Madonna" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Sophie Madonna" />
  <meta property="og:url" content="https://www.sophiemadonna/landing" />
  <meta property="og:description" content="Sophie Madonna a young photographer in Montreal share some of her favorite pictures" />
  <meta property="og:image" content="https://res.cloudinary.com/syphblog/image/upload/v1545947285/giey6xjpul3z2jdoxo2j.jpg" />
</head>

<body>
  <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color: #563d7c;">
    <a class="navbar-brand navTitle mx-2" href="/collection"><span class="fas fa-camera-retro"></span>&nbsp; Collection</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a class="navbar navTitle nav-link justify-content-start" href="/foyer"><span class="fab fa-gripfire"></span>&nbsp; Le foyer</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(!currentUser){ %>
        <li class="nav-item mx-2">
          <a href="/user/register" class="nav-link">Register</a>
        </li>
        <li class="nav-item mx-2">
          <a href="/login" class="nav-link">Log In</a>
        </li>
        <% } else { %>
        <li class="nav-item mx-2">
          <a href="/user/<%=currentUser.id%>" class="nav-link">Hi
            <%= currentUser.name %> </a>
        </li>
        <li class="nav-item mx-2">
          <a href="/logout" class="nav-link">Log Out</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>