<% include ../partials/header %>

<section id="header" class="jumbotron py-5">
  <h1 class="intro display-2">Somme Bio Infos</h1>
  <hr>
</section>
<div class="container">
  <br>
  <h1 class="display-5">How i came to love photography!</h1>
  <br>
  <p>I was born 1988
    <br>
    Then there was 98 !
    <br>
    Then there is Barcelona.
    <br>
    And now we are.
  </p>
  <br>
  <blockquote class="blockquote text-center">
    <p class="mb-0">“I live not in dreams but in contemplation of a reality that is perhaps the future.” </p>
    <footer class="blockquote-footer">Rainer Maria Rilke</footer>
  </blockquote>
</div>


<% include ../partials/footer %>
