<% include ../partials/header %>

<section id="header" class="jumbotron py-5">
  <h1 class="intro display-2">What is Home?</h1>
  <hr>
</section>

<section id="lefoyer" class="container-fluid p-0 m-0">
  <div class="row mb-3">
    <div class="col-12">
      <p class="text-center">Définition (Larousse):
        <br>
        Du bas latin focarium (« feu »)
        <br>
        1. Âtre, lieu où se fait le feu.
        <br>
        2. (Par extension) Maison, demeure familiale, pays natal.
        <br>
        3. (Physique) Endroit, point où convergent des rayons émis
        <br>
        par une même source de lumière ou de chaleur.</p>
    </div>
  </div>
  <div class="row  foyerGrid">
    <div class="col-xl-6 foyerText foyerIntro">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h1 class"display-5">0. Vestibule </h1>
          <br>
          <p class="text-justify">
            Posséder un foyer, s’y sentir chez soi, a longtemps été primordial à mes yeux.
            <br>
            J'ai un moment résidé dans un appartement situé dans le sixième arrondissement de Lyon, qui appartenait à mes grands-parents..
          </p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-xl-6 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0282.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4  m-0 pb-0">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Read More</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">La question du chez-soi s’est beaucoup posée au cours de ma vie dans ces lieux ; la condition pour y séjourner, édictée par mon père, était la suivante : laisser l’appartement disposé tel que mes
              grands-parents
              l’ont laissé après leur
              mort. J’ai du apprendre à évoluer au milieu de leurs effets personnels ; la plupart du mobilier, n’a pas ou très peu changé de disposition depuis
              l’installation de ma famille paternelle dans les lieux en 1957, date de construction de l’immeuble... Certaines prises électriques ne sont pas aux normes ; les tapisseries, vieilles de soixante ans, commencent à se racornir et leur
              couleur s’affadit ; des tableaux du XIXème siècle, dessins, gravures, ou
              peintures de mon oncle,ainsi que vieux luminaires et autres curiosités sont accrochés au murs et viennent renforcer cette impression d’être dans un autre temps, d’être en décalage avec ce qui m’entoure. De ce fait, la présence de mes
              grands-parents, même de mon père et mon oncle y est encore fortement palpable. Il y a une véritable confrontation entre deux époques : ce passé familial et le présent que je tente d’apporter, amenant une forme d’anachronisme dans mon
              mode de vie. Outre cette première condition, je n’avais le droit d’apporter aucun mobilier de ma propriété, la maisonnée de mes grands-parents étant déjà assez bien fournie. La plupart de mes effets personnels sont restés dans un
              garage au pied de leur immeuble ; y sont enfermés les vestiges de ma vie d’autrefois, lorsque je possédais mon propre habitat. Les objets m’appartenant peuvent s’énumérer succinctement : livres, vê¬tements, affaires de toilette,
              quelques objets usuels ou de décoration, ainsi qu’un fauteuil, un tableau, une penderie et, plus récemment, un matelas. J’ai longtemps diabolisé ce lieu de vie ; y habiter fut comme une régression pour moi ; j’avais un sentiment de
              retour au foyer familial, à la dépendance et à l’infantilisation. Les premières années de ma vie dans cet appartement furent difficiles, justement parce que je ne devais laisser aucune trace de ma personne, ne rien apporter de ce qui
              constitue mon être. Ce n’est que récemment que je me suis rendue compte de la richesse que cet endroit contenait : il y a quelques mois, je suis tombée sur les diapositives de mon grand père, trésor inestimable. M’est alors venue la
              volonté de concentrer mon travail photographique sur mon habitat ; c’est dans une démarche autobiographique que j’ai décidé de mener ce travail, mettant en lumière mes propres questionnements quant à la définition du «chez soi » :
              comment s’adapter dans un lieu de vie figé dans le temps ? Comment évoluer dans un milieu qui n’est pas le sien ? A-t-on besoin de nos affaires, de notre mobilier, pour nous sentir chez nous ? Comment s’imprégner de la mémoire d’un
              lieu afin de se réapproprier ce dernier ? Sans prétendre apporter une réponse objective, ni complète, mais simplement un point de vue, une progression de ma pensée, mon mémoire retrace mon chemin intérieur parcouru pour parvenir
              enfin à habiter les lieux, voire me sentir habitée par ceux-ci. Cette progression sera évoquée en trois temps, qui reprendront chacun les trois définitions du Foyer mentionnées plus tôt : dans un premier temps, je partirai de la
              source ; à travers un récit autobiographique, je parlerai de ce qui a provoqué mon entrée dans cet habitat, des épreuves traversées, de mes rencontres et de mes voyages qui ont forgé ma pensée et m’ont amenée à apporter un regard
              neuf sur mon chez-moi ; dans un deuxième temps, je tenterai, de par mes réflexions personnelles, d’amener une définition propre du « chez-soi » ; enfin, à travers l’évocation de mon travail photographique, je mettrai en lumière le
              regard que je porte désormais sur mon appartement, passant de l’étonnement, la sensation de découverte sans cesse renouvelée à une forme d’allégresse.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5 foyerGrid">
    <div class="col-12">
      <h1 class="text-center display-4">I. L'Âtre</h1>
    </div>
  </div>
  <div class="row foyerGrid">
    <div class="col-xl-6 order-2 order-xl-1 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0011.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
    <div class="col-xl-6 order-1 order-xl-2 foyerText foyerIntro">
      <h1 class"display-4">1. Le Songe de la Maison Natale</h1>
      <p class="">
        <br>
        « O nostalgie des lieux qui n’étaient point
        <br>
        Assez aimés à l’heure passagère,
        <br>
        Que je voudrais leur rendre de loin
        <br>
        Le geste oublié, l’action supplémentaire.¹ »
      </p>
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4  m-0 pt-3 pb-5 justify-content-end">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">Read More</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">
              C’est en septembre 2011 que j’ai échoué dans ces lieux. Echouer,
              dans les deux sens du terme : car mon emménagement s’est effectué
              par défaut, presque dans la précipitation, m’étant moi-même contrainte
              de quitter l’appartement où je résidais suite à une rupture avec mon
              compagnon de l’époque. N’ayant guère la force de résider trois mois,
              délai du préavis avant de résilier notre bail, dans ce qui a été pendant
              quatre ans l’incarnation de mon chez-moi, et par faute de temps
              pour retrouver un appartement, j’ai décidé de m’installer, à la base
              temporairement et avec l’accord de mon père, dans celui de ma grandmère,
              résidant en ce temps dans une maison de retraite.
              Le départ de ce premier Foyer a engendré un immense
              bouleversement en moi, comme si toute l’identité dont je m’étais
              forgée dans ces lieux se dissipait d’un coup. J’ai vécu dans ce premier
              appartement pendant quatre ans, de 2007 à 2011 donc, en ayant eu le
              loisir de le personnaliser à souhait, de le meubler selon mes propres
              goûts, d’y organiser des soirées sans n’avoir de compte à rendre à
              .personne, ne me souciant du mobilier cassé, des verres renversés ou du
              parquet sali pendant nos célébrations. A cette époque, je commençais
              juste à m’intéresser à la photographie, et me plaisais déjà à capter, assez
              maladroitement puisque sans expérience, chaque instant de vie. Il me
              reste surtout des images des innombrables soirées que nous y avons
              fait, et, à mon grand regret, seulement quelques images descriptives
              du lieu, dont une photo de mon salon, prise en 2010, par une matinée
              ensoleillée (fig. 1).
              Mon départ de cet appartement a engendré un fort sentiment
              de dépossession, de nostalgie, de regret relatif à ce lieu de vie que j’ai
              longtemps nommé ma Maison Natale, terme emprunté aux vers d’Yves
              Bonnefoy² ; c’est précisément ce qu’il incarnait : un lieu d’Eveil et de
              Renaissance. « Car la maison est notre coin du monde. Elle est — on l’a
              souvent dit — notre premier univers. Elle est vraiment un cosmos. Un
              cosmos dans toute l’acception du terme³ », écrit Gaston Bachelard en
              1958.
              Etrangement, le deuil de cet appartement fut plus lourd à
              surmonter que le deuil de mon ex-compagnon, non pas que je fusse
              davantage attachée à la matérialité des choses (quoique, mais nous
              reviendrons sur cette question dans la partie suivante), mais nous
              sommes parvenus assez rapidement à muer notre amour passé en
              amitié, tandis que la question du chez-moi se situait dans un état de
              non-retour. Impossible effectivement de retourner y vivre, quand bien
              même j’en eusse eu la possibilité, car cela restait malgré tout un Foyer
              construit à deux, emblématique qui plus est d’une période symbolique
              de ma vie, et y retourner n’aurait eu aucun sens.
              Bien sûr, rétrospectivement, je reste consciente que ma vision
              de cette Maison Natale s’est vue complètement sublimée, idéalisée par
              le souvenir et la nostalgie. Elle incarnait parfaitement cette maison du
              « souvenir-songe », évoquée par Gaston Bachelard, une maison « perdue
              dans l’ombre d’un au-delà du passé vrai⁴ ». Dans sa Poétique de
              l’Espace, il s’attache à définir les valeurs que l’on accorde à la Maison,
              valeurs de protection, de refuge dans un premier temps, qui finissent
              par s’éloigner de la réalité objective pour se muer en « valeurs imaginées
              », valeurs qui prennent le pas sur le sentiment de protection
              auquel on s’est préalablement attaché : « Tous les abris, tous les refuges,
              toutes les chambres ont des valeurs d’onirisme consonantes. Ce n’est
              .plus dans sa positivité que la maison est véritablement « vécue », ce n’est
              pas seulement dans l’heure qui sonne qu’on en reconnaît les bienfaits.
              Les vrais bien-êtres ont un passé. Tout un passé vient vivre, par le songe,
              dans une maison nouvelle⁵ ».
              Il m’arrivait encore jusqu’à récemment, dans mes rêves, de
              retourner vivre dans ma Maison Natale. Ces rêves, souvent, étaient
              emprunts d’une immense tristesse. Coïncidence ou non, la surgie
              de ces rêves correspondait à des périodes transitoires et difficiles de
              ma vie. Ce lieu était resté un refuge où je pouvais retourner m’abriter
              lors de tempêtes extérieures. Cela traduisait sans doute un manque à
              combler dans mon esprit, manque des « trésors des jours anciens »,
              car ces lieux avaient été emplis d’un amour, d’un bonheur que je ne
              parvenais plus, pendant quelques temps, à trouver après en être partie.
              « Même lorsque ces espaces sont à jamais rayés du présent, étrangers
              désormais à toutes les promesses d’avenir, même lorsqu’on n’a plus de
              grenier, même lorsqu’on a perdu la mansarde, il restera toujours qu’on
              a aimé un grenier, qu’on a vécu dans une mansarde. On y retourne
              dans les songes de la nuit⁶ ». Et pourtant, dans ces rêves, toujours cette
              Maison Natale revêtait une apparence différente ; tantôt une chaumière
              au milieu de la campagne, tantôt une église en ruine, tantôt un hôtel
              particulier dans le centre d’une métropole fictive ; mon esprit tentait-il
              de me faire comprendre que même mes souvenirs liés à ce lieu étaient
              faux ? En effet, je réalise bien qu’il y avait une part romancée,
              fictionnelle dans mes souvenirs. Mais au fond, est-ce si grave que ça
              ? Ce n’est pas le récit, mais la manière de le conter qui est important,
              quand bien même notre vision reste subjective, et nos souvenirs modifiés par le prisme de notre regard. Fiction et réalité s’entrecroisent en permanence ; la réalité est une chose, certes, mais dans la manière
              dont nos souvenirs vont la tailler, là réside l’essentiel. « La vie, ce n’est
              pas ce qu’on a vécu, mais ce dont on se souvient pour le raconter⁷ » écrit
              Gabriel Garcia Marquez dans la préface de son autobiographie.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row foyerGrid">
    <div class="col-xl-6 foyerText foyerIntro">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h1 class"display-5">2. Répulsion </h1>
          <br>
          <p class="text-justify">
            <br>
            « L’introuvable maison où respire cette fleur de laves,
            <br>
            où naissent les orages, l’exténuant bonheur,
            <br>
            quand m’arrêterai-je de la chercher ?⁸ »
          </p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-xl-6 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0066.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4 m-0 pt-3 pb-5">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">Read More</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">Le contexte tumultueux m’ayant amenée à habiter dans ce
              nouveau lieu n’a en rien arrangé mon appréciation de ce dernier,
              donc. Les conditions édictées par mon père, citées plus tôt, venaient
              davantage renforcer cette sensation de perte de soi. M’installer chez
              mes grands-parents, c’était comme passer de l’état d’émancipation à
              l’état d’un nouvel enfermement, d’un retour dans la sphère parentale.
              Pour me plier aux règles paternelles, je devais m’amputer d’une partie
              essentielle de ma vie de jeune étudiante. Une des nombreuses autres
              conditions de départ fut de n’inviter personne dans ces lieux, dans le
              but de préserver le mobilier et les effets personnels de mes grandsparents.
              Evidemment, j’ai enfreint chacune des règles édictées, petit à
              petit, et celle-ci en premier.
              Nous gardions l’espoir que ma grand-mère se rétablirait et
              pourrait de nouveau habiter chez elle. Son décès en avril 2012 n’a
              guère arrangé les choses ; je me retrouvais désormais au milieu de ses
              affaires, contrainte de survivre au milieu du souvenir, lui bien vivant,
              de la présence de mes grands-parents. Désormais, tout me rappelait leur absence. Pourtant, ce n’est pas le lieu que j’associe directement à
              leur souvenir, bien qu’il me soit familier depuis mon enfance.
              J’avais toujours porté un regard empreint d’une quasi-neutralité
              envers cet appartement lyonnais. Ayant vécu dans une petite ville avec
              mes parents, j’avais en horreur les métropoles, que j’associais à la saleté
              et la grisaille, aussi n’ai-je placé aucun souvenir agréable, ni déplaisant,
              de mes passages d’enfance dans leur maisonnée. Le seul souvenir
              bouleversant que j’aurais pu y associer fut le décès de mon grand père
              en 2004 ; cependant, je parviens à en faire complètement abstraction.
              Il y a eu ces quelques fois, lors de mes premières années d’études sur
              Lyon, aux alentours de 2007, où je venais régulièrement déjeuner avec
              ma grand-mère, qui, du haut de ses quatre-vingt-quinze ans passés, me
              cuisinait encore de temps à autre des mets succulents. Mais ces souvenirs ne furent pas assez puissants pour éclipser ceux de mon enfance ; leur appartement me semblait être alors comme
              leur résidence secondaire, car c’est dans leur maison de campagne,
              dans le sud de la Drôme, que j’ai davantage passé mon enfance en leur
              compagnie. C’est là bas que je situe leur véritable présence, leur amour,
              nos échanges et nos jeux. Aussi, j’ai remarqué, en triant les diapositives
              de mes grands-parents, que je n’y trouvais aucune photo de moi ou
              de ma famille dans cet appartement. Les seules fois où l’on nous voit
              apparaitre sont lors de nos séjours dans la maison de campagne (fig. 2).
              La neutralité que je ressentais envers l’appartement de mes grandsparents
              s’est peu à peu muée en répulsion. J’avais le sentiment de ne pas
              être à ma place, et tout me le rappelait, à commencer par l’absence de
              mes aïeux, et à la fois cette présence dérangeante et palpable à laquelle
              leurs effets personnels me ramenaient sans cesse. Je vivais au milieu de
              symboles d’une construction de vie, construction que moi, je n’avais pas
              le droit d’expérimenter. J’ai longtemps été incapable de vivre seule dans
              ces lieux, et en appelait souvent à mes amis pour venir combler le vide
              et le dégoût qu’ils m’inspiraient. Mais en vain : ma solitude était trop
              intérieure pour être comblée. Je me sentais telle Catherine Deneuve
              incarnant une Carol Ledoux étouffée et enserrée dans son lieu de vie⁹,
              dont la névrose fut telle que les murs qui l’entouraient ne constituaient
              non pas un refuge, mais une prison, voire une menace (fig. 3).
              Sans côtoyer un désordre psychique aussi exacerbé, je ne
              parvenais pas à me fixer au milieu de ce qui me semblait ressembler
              de plus en plus à un musée, voire un mausolée, plutôt qu’une
              habitation, tellement ce mobilier anachronique m’était impersonnel,
              tellement cette condition de « ne rien toucher » m’éloignait d’une
              possible connexion physique, d’un apport chaleureux. Pendant près
              de quatre ans, je me suis languie de mon Foyer idéal, espérant sans
              cesse le jour où je retournerai enfin dans un lieu dont je pourrai enfin
              m’approprier l’espace, l’imaginant dans ses moindres détails, dessinant
              dans mon esprit ses moindres recoins. Non pas que je fusse dans un
              état d’accablement pendant tout ce temps, mais plutôt dans un état
              d’incomplétude. Ce n’est que l’été dernier qu’un début d’ordre fut enfin
              amené.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row foyerGrid">
    <div class="col-xl-6 order-2 order-xl-1 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0018.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
    <div class="col-xl-6 order-1 order-xl-2 foyerText foyerIntro">
      <h1 class"display-4">3. L’été Vient</h1>
      <p class="">
        <br>
        « J’ai fait de plus loin que moi un voyage abracadabrant
        <br>
        Il y a longtemps que je ne m’étais pas revu
        <br>
        Me voici en moi comme un homme dans une maison
        <br>
        Qui s’est faite en son absence
        <br>
        Je te salue, silence
        <br>
        Je ne suis pas revenu pour revenir
        <br>
        Je suis arrivé à ce qui commence¹⁰ »
      </p>
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4  m-0 pt-3 pb-5 justify-content-end">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse4">Read More</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">
              Ma vision du foyer, du « chez-soi » s’est complètement modifiée
              durant l’été 2015, où j’ai passé trois mois hors de mon appartement,
              étant partie pour un stage à Montréal. Là bas, j’ai fait l’expérience de
              loger dans trois lieux différents : auprès de ma famille côté maternel,
              puis en colocation dans un appartement, et parfois, certains week-ends,
              chez des amis. A ma plus grande surprise, dans chacun de ces lieux,
              bien que n’ayant en ma possession que très peu d’effets personnels,
              je me sentais, et j’étais chez moi, car la présence de mon entourage
              me le faisait ressentir. « Je m’éveillais, mais c’était en voyage¹¹ ».
              En outre, pour la première fois de ma vie, j’eus la sensation
              que mon chez-moi s’étendait au delà des murs ; j’étais chez moi
              au parc Laurier, au sommet du mont Royal, en déambulant rue
              Sainte Catherine. Ce fut comme si j’avais enfin quitté une zone de onfort, comme si j’avais enfin démoli ces barrières de protection que je
              m’étais forgées pour me protéger. C’est au final en sortant de moi-même,
              de mes idées préconçues, que je me suis trouvée. Et en me trouvant, j’ai
              retrouvé ma maison.
              C’est depuis mon retour de Montréal que je considère enfin
              l’appartement de mes grands-parents comme mon chez-moi ; j’ai
              réalisé que, paradoxalement, j’y avais trouvé ma place une fois que je
              me suis enfin sentie prête à le quitter. Je me suis alors complètement
              réapproprié mon espace de vie ; j’ai fini par faire table rase des certaines
              conditions érigées par mon père, tout en trouvant un équilibre afin de
              le respecter lui, mon logement, et ne pas me restreindre à la fois. J’ai
              estimé que je n’avais plus de comptes à rendre, si ce n’est d’entretenir au
              mieux ce lieu de vie ; qu’importe les objets cassés, le parquet imprégné
              de vin rouge après une soirée arrosée. C’est ainsi que je dois vivre, sans
              me restreindre par la peur infantile d’être réprimandée.
              Mon voyage m’a amené à abolir ces notions matérialistes
              auxquelles je m’étais trop accrochée : le besoin d’avoir ses propres
              affaires, son propre mobilier, de pouvoir personnaliser entièrement son
              espace de vie m’apparait désormais comme superflu. Bien entendu, un
              strict minimum reste nécessaire afin de se sentir chez soi. Pour l’heure,
              mes livres, mes vêtements, mon chat, mes quelques effets personnels
              présents dans l’appartement de mes grands-parents me suffisent ; car
              c’est au delà de mes affaires que je définis mon chez-moi.
              Le récit de mon chemin parcouru jusqu’à mon Foyer vient
              poser les bases de ce qui va suivre : tenter de définir le plus précisément
              possible quelle est ma conception du chez-soi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5 foyerGrid">
    <div class="col-12">
      <h1 class="text-center display-4">II. La Demeure</h1>
    </div>
  </div>
  <div class="row foyerGrid">
    <div class="col-xl-6 foyerText foyerIntro">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h1 class"display-5">1. Topophilie¹² </h1>
          <br>
          <p class="text-justify">
            <br>
            Etrangement, la langue française ne nous apporte pas de terme
            précis pour désigner le fait de se sentir chez soi. L’allemand nous éclaire
            davantage avec la Heimat, qui est d’ailleurs impossible à traduire par
            un seul mot français. Selon l’écrivain Waltraud Legros, le terme Heimat
            rassemble plusieurs significations : « il désigne à la fois le pays où l’on
            naît, le village où l’on a grandi, mais aussi la maison où on a passé son
            enfance ou celle où on est chez soi¹³ ».
          </p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-xl-6 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0259.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4 m-0 pt-3 pb-5">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse5">Read More</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">En rester à cette définition ne pourrait suffire, car ce serait
              restreindre son chez-soi à l’intérieur d’un espace géographique défini,
              que cela soit notre pays, notre ville ou notre demeure ; « Il ne s’agit pas
              de décrire des maisons, d’en détailler les aspects pittoresques et d’en
              analyser les raisons de confort. Il faut, tout au contraire, dépasser les
              problèmes de la description — que cette description soit objective ou
              subjective, c’est-à-dire qu’elle dise des faits ou des impressions — pour
              atteindre les vertus premières, celles où se révèle une adhésion, en
              quelque manière, native à la fonction première d’habiter¹⁴ ».
              Or, nous avons vu, par mon récit personnel, que la Heimat
              pouvait s’apparenter à un champ beaucoup plus large, composé d’une
              multitude de détails et de sentiments qui, certes, nous sont propres,
              mais dans lesquels nous pouvons néanmoins trouver une forme
              d’identification commune. Waltraud Legros ajoute cependant: « Le .mot «Heimat» est donc de l’ordre du sentiment, qu’il soit lié à la foi
              religieuse ou à des souvenirs d’enfance, à un horizon familier ou une
              atmosphère bien précise. Ce qui n’exclut pas que l’on puisse se sentir
              «chez soi» ou du moins «comme chez soi» ailleurs dans le monde. (…)
              La «Heimat» n’a ni uniforme ni drapeaux. C’est «le pays» que chacun
              porte à l’intérieur de soi¹⁵ ». Ce complément de définition nous permet
              de cerner davantage la dimension complexe du chez-soi ; mais les
              points qu’il soulève exigent toutefois d’être approfondis ; de quoi a-t-on
              besoin pour se sentir chez soi ?
              Trois points sont soulevés dans la définition de W. Legros : la
              Heimat serait d’abord liée à une sensation intérieure, mue par la foi
              ou le souvenir ; elle constituerait une forme de refuge intérieur venant
              nous apporter du confort ainsi qu’une forme de bien-être. On pourrait
              rattacher cette partie à la fin de la citation de l’auteur, concluant que
              la Heimat est « le pays que chacun porte à l’intérieur de soi ». Pour se
              sentir chez soi, il faudrait donc, d’une part, être soi-même, et connaître
              une forme de paix intérieure.
              Ensuite, W. Legros évoque l’horizon familier. Ce « familier »
              peut supposément s’apparenter à nos effets personnels, mais il faut
              creuser plus loin. Le mot « familier » découle bien entendu du mot
              « famille », et quoi de plus familier, justement, que notre famille, ou,
              de manière plus élargie, notre entourage proche ? C’est par la présence
              de l’autre que l’on se nourrit, que l’on grandit ; c’est, en définitive, une
              condition complémentaire pour se sentir chez soi.
              Enfin, l’auteur mentionne que l’on peut se sentir chez soi ailleurs
              dans le monde ; cette partie me ramène forcément à mon expérience estivale, où partir à l’étranger m’a permis de me sentir davantage chez
              moi, dans l’appartement de mes grands-parents ; dans ce cas-là, il
              serait donc nécessaire de s’ouvrir au monde, « d’être au monde » et de
              s’imprégner d’un certain apport extérieur. Je vais tenter, dans les parties
              suivantes, d’approfondir plus précisément les trois points évoqués cidessus
              afin de compléter ma définition du chez-soi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row foyerGrid">
    <div class="col-xl-6 order-2 order-xl-1 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0000.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
    <div class="col-xl-6 order-1 order-xl-2 foyerText foyerIntro">
      <h1 class"display-4">2. Autopoïèse</h1>
      <p class="">
        <br>
        « The home is not outside. Yet home is not the place
        <br>
        Where our cradle stood!
        <br>
        No, we first create the fatherland
        <br>
        In our breast’s most private cell.¹⁶ »
      </p>
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4  m-0 pt-3 pb-5 justify-content-end">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse6">Read More</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">
              La Heimat, que je renommerai en français « L’être chez-soi »
              (en écho à « l’être au monde » qui, selon le philosophe Heidegger, se
              rapporte à notre conscience d’exister, à la découverte de notre être en
              réaction au monde¹⁷), relève tout d’abord d’un processus personnel
              ; il s’agit de quelque chose que nous créons nous-même, non pas de
              nos propres mains, non pas dans une dimension matérielle, mais dans
              le plus profond de notre être. Il s’agit davantage d’un état d’esprit et
              non d’un état physique. Bachelard relève ceci : « Non seulement nos
              souvenirs, mais (…) notre inconscient est « logé ». Notre âme est une
              demeure. Et en nous souvenant des « maisons », des « chambres », nous
              apprenons à « demeurer » en nous-mêmes. On le voit dès maintenant,
              les images de la maison marchent dans les deux sens : elles sont en nous
              autant que nous sommes en elles¹⁸ ». L’intérieur de notre être peut ainsi
              lui-même constituer une forme d’habitat, un refuge intérieur nourri
              par nos souvenirs, par des images du passé, contribuant à nous forger
              un chez-soi idéal. L’être chez-soi relève donc d’une forme d’autopoïèse, qui est l’acte
              de se créer par soi-même. Les différentes expériences de vie que nous
              traversons constituent autant de strates forgeant notre personnalité, et
              de la sorte, forgent nos exigences envers un habitat idéal. Carl Gustav
              Jung compare en ce sens l’âme humaine à un bâtiment : « Nous avons
              à découvrir un bâtiment et à l’expliquer : son étage supérieur a été
              construit au XIXe siècle, le rez-de-chaussée date du XVIe siècle et
              l’examen plus minutieux de la construction montre qu’elle a été faite sur
              une tour du IIe siècle. Dans la cave, nous découvrons des fondations
              romaines, et sous la cave se trouve une grotte comblée sur le sol de
              laquelle on découvre dans la couche supérieure des outils de silex, et,
              dans les couches plus profondes, des restes de faune glaciaire. Telle
              serait à peu près la structure de notre âme¹⁹. »
              L’être chez-soi ramène à une forme de bien-être. L’on se sent
              chez soi uniquement lorsque l’on se sent heureux, complet. C’est
              quand la construction d’un habitat s’achève que l’endroit peut enfin
              prétendre s’appeler une maison, un Foyer. A l’image de la construction
              de son être ; une fois notre habitat intérieur construit, on peut enfin
              être chez soi, être en soi. Le Foyer, en plus d’être synonyme d’habitat,
              désigne également l’âtre, l’endroit où se fait le feu qui réchauffera toute
              la maisonnée ; s’incarner complètement, être au plus profond de soi,
              brûler de l’intérieur, être animé comme une flamme, voilà ce qu’est être
              chez soi.
              Bien entendu, une construction intérieure prend toute une vie. Il s’agit
              d’une quête perpétuelle, ou d’un renouvellement perpétuel. On ne
              cesse de modifier notre perception du chez soi. Il faut accepter que les
              .choses changent, se bouleversent et évoluent. C’est quand le processus
              est enclenché, quand l’acceptation est là, quand le mouvement est en
              marche et que la pensée grandit et ne cesse d’être dans l’acceptation du
              changement qu’on peut enfin se sentir être en soi.
              C’est notre conscience, voire notre volonté d’exister dans un
              lieu qui reflète ce que nous sommes. La volonté de se sentir chez soi
              constitue alors une quête d’identité. Lorsque l’on ne se sent pas chez
              soi, c’est qu’il y a conflit d’identité. Être en soi peut alors constituer
              un danger ; notre for intérieur devient alors une forteresse où l’on se
              coupe du monde extérieur pour se préserver. Les vers de Christina
              Rossetti illustrent parfaitement cet enfermement en soi - ces vers ont
              également inspiré une peinture symboliste réalisée par l’artiste Fernand
              Khnopff représentant également ce sentiment de claustration (fig. 4) :
              <br>
              « All others are outside myself;
              <br>
              I lock my door and bar them out
              <br>
              The turmoil, tedium, gad-about.
              <br>
              (…) Myself, arch-traitor to myself ;
              <br>
              My hollowest friend, my deadliest foe,
              <br>
              My clog whatever road I go.²⁰ »
              <br>
              Je me suis pendant très longtemps identifiée à ces vers et à
              ce tableau, justement à cette époque où je n’arrivais pas à me sentir
              chez moi dans l’appartement de mes grands-parents. Je me sentais
              enfermée en moi-même, perdue, car je me protégeais du monde
              extérieur et ne laissais aucune possibilité de m’ouvrir à l’autre. En ce sens, afin de me retrouver moi-même, il m’a fallu sortir de moimême.
              Ce sont finalement par mes rencontres, et par mes
              voyages, points que j’évoquerai ci-dessous, que je me suis trouvée.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row foyerGrid">
    <div class="col-xl-6 foyerText foyerIntro">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h1 class"display-5">3. Constellations</h1>
          <br>
          <p class="text-justify">
            <br>
            « Always have the field and the forest,
            <br>
            and the rock and the gardens been to me only a space,
            <br>
            and you, my beloved, turn them into a place.²¹ »
          </p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-xl-6 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0238.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4 m-0 pt-3 pb-5">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse7">Read More</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">Ainsi, c’est également à travers l’autre que je me suis trouvée.
              Cela peut paraître paradoxal, mais le fait de sortir de ma zone de confort,
              vaincre ma peur sociale, tisser des liens solides avec mon entourage
              m’a fait me connaître davantage, a révélé en moi des aspects de ma
              personnalité insoupçonnés jusqu’alors. J’ai alors réalisé que la présence
              de l’autre était nécessaire pour se sentir exister, être au monde ; l’autre
              est un miroir où l’on peut se contempler et se trouver. Il ne s’agit pas de
              faire dépendre son bonheur d’autrui, mais de puiser les richesses que
              notre entourage peut nous offrir, et partager nos ressources en retour
              pour ainsi construire des liens solides.
              Le philosophe Hartmut Rosa souligne que nos liens tissés nous
              amènent à une familiarisation de l’espace de vie ; l’être chez-soi passe
              donc par le lien social, par l’intégration de l’autre dans son espace de
              vie aussi bien que dans son espace mental : « Parfois, nous avons le
              sentiment que les choses et les personnes qui nous entourent nous sont
              familières, elles « répondent » à nos sentiments et nos besoins, et nous
              sommes reliés à elles de différentes façons : à travers des expériences et des histoires partagées et à travers les rôles que nous jouons dans leur
              vie et qu’ils jouent dans notre vie. Il en découle un sentiment d’intérêt
              réciproque : les personnes et les choses, l’espace qui nous entourent ne
              sont pas indifférents, nous nous sentons responsables d’elles, et leurs
              mouvements et leurs changements ont une signification pour notre
              propre vie. Elles semblent nous répondre et nous porter.²² »
              Être chez soi, c’est parvenir à faire entrer le monde extérieur en
              soi et savoir en retour s’extérioriser, donner de sa personne au monde.
              Les liens sociaux ne sont qu’une petite partie de ce qui constitue cet
              être au monde. N’oublions pas que, où que nous soyons, nous évoluons
              dans des espaces définis ; il faut donc se familiariser avec cet espace
              et s’en imprégner, être dans l’acceptation de ce qui nous entoure, et
              c’est ainsi, ouvert au monde, que nous nous sentirons chez nous. Les
              propos de Sigurd Bergmann vont dans ce sens : « (Our place) should
              not be encapsulated and isolated from the surrounding space, but
              the surrounding space should be fully integrated into it. The tension
              between inner and outer space is a necessary and important condition
              for the fulfilment of human life.²³ » C’est ce dernier point que je vais
              aborder pour compléter ma définition du chez-soi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row foyerGrid">
    <div class="col-xl-6 order-2 order-xl-1 px-0">
      <img class="img-fluid" src="./ImagesSophie/IMG_0155.jpg" alt="vestibule" oncontextmenu="return false;">
    </div>
    <div class="col-xl-6 order-1 order-xl-2 foyerText foyerIntro">
      <h1 class"display-4">4. L’Univers</h1>
      <p class="">
        <br>
        « Quand les cimes de notre ciel se rejoindront
        <br>
        Ma maison aura un toit.²⁴ »
      </p>
    </div>
  </div>
  <div class="row foyerText foyerGrid px-4  m-0 pt-3 pb-5 justify-content-end">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse6">Read More</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body mx-4">
            <p class="text-justify">
              La dernière condition pour être chez soi, qui constitue l’être au
              monde, peut être définie de la manière suivante : il s’agit d’être dans
              l’acceptation de notre lieu de vie, sans effacer le souvenir qui y est lié
              mais le laisser se mêler au monde extérieur. Cette condition, en outre,
              implique aussi d’accepter que ce qui nous entoure change et évolue ;
              ne pas être dans une vision fixe mais dans un mouvement continuel
              de renouvellement de pensées. Sigurd Bergmann affirme : « A person
              is part of space and place. She changes, and, through movement, is
              changed by space²⁵ ». Nous avons ainsi une influence sur notre lieu de
              vie et vice-versa. Nous sommes notre Foyer, et notre Foyer est nous.
              C’est à partir du moment où j’ai accepté mon lieu de vie, où je me
              suis réconciliée avec mon passé, passé mis en lumière par la découverte
              des diapositives de mes grands-parents, que j’ai réussi à m’intégrer dans
              les lieux. Il ne s’agit pas d’abolir le souvenir, mais d’exister par dessus,
              en complément, avec. Et j’ai eu grand plaisir à reconstruire mon passé
              à travers le tri de ces photos de famille.
              Pour y parvenir, une ouverture au monde extérieur a toutefois
              été nécessaire ; il a fallu mêler le présent au passé, apporter la modernité dans la vétusté. L’exigence de mon père de ne pas toucher au mobilier,
              de ne rien apporter d’extérieur, fut comme le refus d’apporter cette
              forme de modernité, m’empêchant de me sentir chez moi, me donnant
              l’impression d’être dans un microcosme figé dans des années révolues.
              Microcosme dont j’ai réussi à repousser les limites, en jouant avec les
              époques, en apportant ma modernité à l’intérieur des murs, que cela
              soit par mes attitudes, par mon entourage, ou par la simple influence
              imperceptible du présent. « Identities emerge from the processes of
              ‘transculturation’ rather than from the identification with one single
              culture and place²⁶ ». Il est donc nécessaire, comme l’atteste Sigurd
              Bergmann, de ne pas se focaliser sur la divergence des cultures et des
              époques, mais sur leur rencontre, leur union.
              Se sentir chez soi ne signifie pas seulement rester à la maison
              ; cela prend en compte la mobilité et le voyage. Ainsi, le Foyer « ne
              constituerait pas qu’un seul endroit mais le regroupement de tous les
              lieux qui ont marqué une personne²⁷ » selon Laurence Buell, professeur
              de littérature américaine. La notion du chez-soi s’élargit alors, passant
              du simple habitat aux divers endroits qui nous ont construits. Il est
              nécessaire parfois de se déraciner de son lieu de vie, de partir en voyage,
              pour se construire une nouvelle idée du chez-soi ; se désapproprier de
              nos idées préconçues afin de se réapproprier de nouvelles conceptions
              d’appartenance. «Dwelling is a knot of lines rather than a fixed belonging
              to a limited place.²⁸ », selon Tim Ingold, décrivant le chez-soi comme
              un réseau en mouvement et non comme un endroit défini et limité.
              Ainsi, se sentir chez soi implique se sentir appartenir au
              monde, mais aussi y être perméable ; être au monde, et être avec le monde. L’écrivain Georges Spyridaki décrit sa maison idéale comme
              suit : « Ma maison est diaphane, mais non pas de verre. Elle serait
              plutôt de la nature de la vapeur. Ses murs se condensent et se relâchent
              suivant mon désir. Parfois, je les serre autour de moi, telle une armure
              d’isolement... Mais parfois, je laisse les murs de ma maison s’épanouir
              dans leur espace propre, qui est l’extensibilité infinie²⁹. »
              Il faut trouver un équilibre entre sécurité, confort et
              renouvellement, aventure. Un Foyer doit être à la fois « cellule et
              monde³⁰ ». Être chez soi, c’est donc être au monde ; c’est se renouveler
              sans cesse, être dans la redécouverte et l’émerveillement, tout en se
              familiarisant avec l’inconnu. Je concluerai cette définition avec, une fois
              de plus, les paroles de Sigurd Bergmann : « Heimat and home are not
              « just there », but - similar to nature and life - they emerge, persist, and
              fade away, always in synergy with the people who long and act, believe
              and construct, remember old and move toward new shores³¹ ».

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
